
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <title>Feria Virtual Maipo Grande</title>
    <style>
        body {
            background-color: #E8F8E0; /* Fondo de la página en verde claro */
            font-family: Arial, sans-serif;
        }

        .container {
            text-align: center;
            margin-top: 100px;
        }

        h1 {
            color: #008000; /* Texto en verde oscuro */
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Feria Virtual Maipo Grande</h1>
    </div>
</body>
</html>